@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --fd-primary: 217 91% 60%;
  --fd-primary-foreground: 0 0% 100%;
}

.dark {
  --fd-primary: 217 91% 60%;
  --fd-primary-foreground: 0 0% 100%;
}
